body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    margin: 0;
    background-color: var(--tg-theme-secondary-bg-color);
    height: var(--tg-viewport-stable-height);
    transition: height .3s ease-in-out;
}


#categoriesContainer{
    box-sizing: border-box;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
}


.categoryContainer {
    display: flex;
    flex-direction: row;
    border: 1px solid #ddd;
    padding: 20px;
    justify-content: space-between;
    align-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    transition: background-color 0.3s;
}

.categoryContainer:active {
    background-color: #ccc;
}

.categoryPic{
    flex-basis: 25%;
    border-radius: 15px;
}

.categoryName{
    text-align: center;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 75%;
    font-size: large;
}

.headTitle{
    text-align: center;
        
}
