body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    margin: 0;
    background-color: var(--tg-theme-secondary-bg-color);
    height: var(--tg-viewport-stable-height);
    transition: height .3s ease-in-out;
}


#categoriesContainer{
    box-sizing: border-box;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
}


.categoryContainer {
    position: relative;
    text-align: center;
    overflow: hidden;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    transition: background-color 0.3s;
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
}

.categoryContainer:active {
    background-color: #ccc;
}

.categoryPic{
    width: 100%;
    height: auto;
    opacity: 0.1;
    transition: opacity 0.3s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.categoryContainer:hover .categoryPic {
    opacity: 0.3;
}

.categoryName{
    display: inline-block;
    text-align: center;
    line-height: 100%;
    vertical-align: middle;
}

.headTitle{
    text-align: center;
    color: var(--tg-theme-text-color);
}
