body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--tg-theme-secondary-bg-color);
    height: var(--tg-viewport-stable-height);
    transition: height .3s ease-in-out;
    
}

.contestants {
    display: flex;
    gap: 0.5rem;
    width: 100%;
    padding: 1rem;
}

.contestant-one,
.contestant-two {
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
    flex: 1;
    width: 50%;
    padding: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: center;
    border-radius: 0.5rem;
}